<div class="container-humedades">
    
    
    <div class="registrar">
        <h2>Registrar Nueva Humedad</h2>
        <form action="#">
            <input [(ngModel)]="tara" type="text" id="tara" name="tara" placeholder="Tara" />
            <input [(ngModel)]="muestra" type="text" id="muestra" name="muestra" placeholder="Nº Muestra" />
            <input [(ngModel)]="ensayo" type="text" id="ensayo" name="ensayo" placeholder="Ensayo" />
            <input [(ngModel)]="horno" type="text" id="horno" name="horno" placeholder="Horno" />

            <button type="button" (click)="agregarRegistro()" class="agregar-btn">
                <i class="fa-solid fa-plus"></i>Agregar
            </button>
        </form>
    </div>

    
    
    <div class="registros">

        <h2>Registros de Humedades</h2>

        <div class="div_search">
            <input type="search" 
                   [(ngModel)]="busquedaTara" 
                   name="busquedaTara" 
                   class="main__input"
                   placeholder="Buscar Tara">

            <input type="search" 
                   [(ngModel)]="busquedaMuestra" 
                   name="busquedaMuestra" 
                   class="main__input"
                   placeholder="Buscar Muestra">
            
            <input type="search" 
                   [(ngModel)]="busquedaEnsayo" 
                   name="busquedaEnsayo" 
                   class="main__input"
                   placeholder="Buscar Ensayo">

            <input type="search" 
                   [(ngModel)]="busquedaHorno" 
                   name="busquedaHorno" 
                   class="main__input"
                   placeholder="Buscar Horno">
        </div>
        <table>
            <tr>
                <th>Tara</th>
                <th>Muestra</th>
                <th>Ensayo</th>
                <th>Horno</th>
                <th>Acciones</th>
            </tr>
        @for (registro of registrosFiltrados; track registro; let i = $index) {
            
            <tr class="main__text" [ngClass]="{
                'destacado-tara': busquedaTara && registro.tara.toLowerCase().includes(busquedaTara.toLowerCase()),
                'destacado-muestra': busquedaMuestra && registro.muestra.toLowerCase().includes(busquedaMuestra.toLowerCase()),
                'destacado-ensayo': busquedaEnsayo && registro.ensayo.toLowerCase().includes(busquedaEnsayo.toLowerCase()),
                'destacado-horno': busquedaHorno && registro.horno.toLowerCase().includes(busquedaHorno.toLowerCase())
            }">
                <td class="tara">{{ registro.tara }}</td>
                <td class="muestra">{{ registro.muestra }}</td>
                <td class="ensayo">{{ registro.ensayo }}</td>
                <td class="horno">{{ registro.horno }}</td>
                <td class="borrar">
                <button type="button" class="eliminar-btn" (click)="eliminarRegistro(i)">
                    <i class="fas fa-trash"></i>
                </button></td>
            </tr>
        }
            
        </table>
    </div>

</div>