html{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.btns{
    height: 2rem;
    margin-left: 9rem;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color:  #e6e6e6;
    padding: 10px;
    color: blanchedalmond;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin-bottom: 20px;

}

.btns .humedad-btn{
    display: inline-block;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #e6e6e6;
    transition: background-color all 0.3s ease;
    border: none;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}

.btns .humedad-btn:focus{
    background-color: white;
}


.btns .muestras-btn{
    display: inline-block;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #e6e6e6;
    transition: background-color all 0.3s ease;
    border: none;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}

.btns .muestras-btn:focus{
    background-color: white;
}

app-register, app-register-2{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
  .btns {
    width: 90%; /* Aumenta el ancho para llenar más la pantalla */
    margin: 20px auto; /* Centra el contenedor y ajusta el margen */
    grid-template-columns: 1fr; /* Apila los botones verticalmente */
    height: auto; /* Permite que la altura se ajuste al contenido */
  }

  .btns .humedad-btn,
  .btns .muestras-btn {
    width: 100%; /* Hace que cada botón ocupe todo el ancho */
    margin: 5px 0; /* Añade un margen vertical entre los botones */
  }

}
