html{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.title{
    text-align: center;
    color: darkred;
    font-family: 'Arial', sans-serif;
    background-color: lightgrey;
    padding: 20px;
    margin: 0;
    
}

.title h1{
    margin: 0;
    padding: 0;
}



app-register{
    display: flex;
    justify-content: center;
}