html{
    margin: 0;
    padding: 0;
}

header{
    width: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

@media (max-width: 768px) {
    body{
        width: fit-content;
    }
}


@media (max-width <=425px) {
    html{
        width: fit-content;

    }

    header{
        width: 100%;
    }

    h1{
        width: 100%;
        padding: 0;
    }
}

@media (max-width <480px) {
    header{
        width: 90%;
    }
}